<!-- page content -->
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Pods</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Namespace</th>
                          <th>Replicas</th>
                          <th>Replicas Available</th>
                        </tr>
                      </thead>
                      <tbody>
                    {% for deploy in deployments %}
                        <tr>
                          <td>{{deploy.metadata.name}}</td>                            
                          <td>{{deploy.metadata.namespace}}</td>
                          <td>{{deploy.status.replicas}}</td>
                          <td>{{deploy.status.available_replicas}}</td>
                        </tr>
                    {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->